## Sentiment Analysis for Whispr

1. import data from google sheets
2. clean dataset and create synthetic variables
3. summarize dataset: how many records per category, reviews over time
4. evaluate sentiment of review, give confidence interval
5. calculate summary insights: average sentiment / subjectivity per item, reviews per item
6. compare against manual evaluation
7. export data to google sheets

In [152]:
import pandas as pd
import numpy as np
import os
from textblob import TextBlob
import gspread
from datetime import datetime
from oauth2client.service_account import ServiceAccountCredentials
from matplotlib import pyplot as plt
import seaborn as sns
import nltk
from nltk.corpus import stopwords, words
import string


%matplotlib inline
sns.set_style('darkgrid')
pd.options.display.max_rows = 100

### 1. Import data from GS
- connect to google sheets API
- create spreadsheet and worksheet objects, explore GSpread library
- create dataframe of reviews

In [3]:
#1 define the scope of your access tokens
scope = ['https://www.googleapis.com/auth/drive','https://spreadsheets.google.com/feeds']

#2 after getting oauth2 credentials in a json, obtain an access token from google authorization server
#by creating serviceaccountcredentials and indicating scope, which controls resources / operations that an
#access token permits
creds = ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope)

#3 log into the google API using oauth2 credentials
#returns gspread.Client instance
c = gspread.authorize(creds)

In [12]:
spreadsheet = c.open('UK Sentiment')

worksheet = spreadsheet.worksheet('WHotel_Sentiment')

records = worksheet.get_all_records()
df = pd.DataFrame(records)
df = df[['Contents','Sentiment','Topic','Location','Comment']]

In [16]:
df.head()

,Contents,Sentiment,Topic,Location,Comment
0,What I thought was the weirdest design choice ...,1,Design,Washington DC,
1,"New day, new sunset ðŸŒ… #wkohsamui #beachlife #h...",1,Location&View,Koh Samui,
2,#amsterdam #wamsterdam #finertravel #travelpho...,1,Location&View,Amsterdam,
3,Best breakfast ever whotels at #whoteldubai ðŸ¤© ...,1,Restaurant,Dubai,Breakfast
4,#ê·¸ë¦½ë‹¤ðŸ˜¢ #bali #wbali #seminyak,1,Guest Experience,Bali,

### 2. Data preprocessing

In [181]:
df['Sentiment_Category'] = df['Sentiment'].map({1: 'Positive',2:'Neutral',3:'Negative'})

def pos_neg(polarity):
    if polarity >= 0.1:
        return 'Positive'
    if polarity >= 0 and polarity < 0.1:
        return 'Neutral'
    else:
        return 'Negative'

df['Polarity'] = [TextBlob(x['Contents']).polarity for i, x in df.iterrows()]
df['Subjectivity'] = [TextBlob(x['Contents']).subjectivity for i, x in df.iterrows()]
df['Textblob_Score'] = df['Polarity'].apply(pos_neg)

df.groupby(['Sentiment_Category','Textblob_Score'])['Polarity'].agg({'mean':np.mean, 'count':len})

/Users/christinejiang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  from ipykernel import kernelapp as app

                                       mean  count
Sentiment_Category Textblob_Score
Negative           Negative       -0.229419   11.0
                   Neutral         0.003046   72.0
                   Positive        0.379133   55.0
Neutral            Neutral         0.028125    1.0
Positive           Negative       -0.400000    1.0
                   Neutral         0.001145   14.0
                   Positive        0.425419   20.0

## Create sentiment analyzer
- count frequency of meaningful words
- rate positivity and negativity of most frequent words
- create dummy variables for the presence of these words
- use knn model to classify positive and negative

In [178]:
#has to be legitimate english word, no stopwords, no punctuation
#create dictionary of counts of each word
#calculate polarity of each word - identify positive and negative words
#create dummy variables for the presence of these words
#split dataset into test / train, fit knn model
#make predictions using knn

mystop = set(stopwords.words('english'))
punctuation = string.punctuation
englishwords = words.words()

contentblob = [x for x in TextBlob(str(df['Contents'].values.tolist())).tokenize() 
               if x.lower() not in mystop and x not in string.punctuation
              and x in englishwords]
counts = {x: contentblob.count(x) for x in contentblob}

word_df = pd.DataFrame(counts.items(), columns = ['word','count']).sort_values('count', ascending = False)
word_df['polarity'] = word_df['word'].apply(lambda x: TextBlob(x).polarity)

In [180]:
word_df.head(100)

            word  count  polarity
49             W     61  0.000000
229           de     23  0.000000
18         hotel     22  0.000000
151    barcelona     17  0.000000
145       travel     17  0.000000
28          love     13  0.500000
231           la     11  0.000000
110        party     10  0.000000
50         would     10  0.000000
172           us      9  0.000000
175        pride      9  0.000000
51          like      9  0.000000
320         July      9  0.000000
38          time      8  0.000000
36        summer      8  0.000000
163        night      8  0.000000
230           en      8  0.000000
146      holiday      7  0.000000
83           one      7  0.000000
106       luxury      7  0.000000
166        beach      7  0.000000
44      vacation      7  0.000000
190         make      7  0.000000
9         little      7 -0.187500
17    Washington      7  0.000000
23           day      6  0.000000
154   wanderlust      6  0.000000
192          bit      6  0.000000
1         design      6  0.000000
327        South      6  0.000000
55       amazing      6  0.600000
218        music      6  0.000000
170       family      6  0.000000
162  photography      5  0.000000
233           el      5  0.000000
164    beautiful      5  0.850000
161     building      5  0.000000
149          sea      5  0.000000
191         life      5  0.000000
94          back      5  0.000000
90           get      5  0.000000
46             w      5  0.000000
41          room      5  0.000000
271        photo      5  0.000000
40          bali      5  0.000000
37           fun      4  0.300000
71       evening      4  0.000000
22         great      4  0.800000
68          good      4  0.700000
370        today      4  0.000000
133     Thursday      4  0.000000
20         first      4  0.250000
198        place      4  0.000000
135       beauty      4  0.000000
328        Miami      4  0.000000
177         came      4  0.000000
128       Friday      4  0.000000
173         side      4  0.000000
98          best      4  1.000000
24           new      4  0.136364
304      dessert      4  0.000000
345        house      4  0.000000
147          con      4  0.000000
86          sure      4  0.500000
130        visit      3  0.000000
254          top      3  0.500000
112       really      3  0.200000
284           un      3  0.000000
111       resort      3  0.000000
85       getting      3  0.000000
103          San      3  0.000000
119     cocktail      3  0.000000
91        chance      3  0.000000
323       iconic      3  0.500000
298        salad      3  0.000000
250      wedding      3  0.000000
274        drink      3  0.000000
99        stayed      3  0.000000
253        check      3  0.000000
267      fashion      3  0.000000
102      Atlanta      3  0.000000
269        style      3  0.000000
259         pool      3  0.000000
158          art      3  0.000000
82         water      3  0.000000
25        sunset      3  0.000000
458       runway      3  0.000000
468          use      3  0.000000
482         para      3  0.000000
338         days      3  0.000000
494          see      3  0.000000
26         happy      3  0.800000
176         even      3  0.000000
48          stay      3  0.000000
208         Bali      3  0.000000
201        every      3  0.000000
180    community      3  0.000000
184         need      3  0.000000
622   restaurant      3  0.000000
195          let      3  0.000000